* {
    box-sizing: border-box;
}

body {
    margin: 0;
}



#im5ae7 {
    min-height: 100px;
    background-color: #ffffff;
    margin: 0px 0px 30px 0px;
}

#iamt0g {
    padding: 10px;
}

#idazix {
    min-height: 100px;
    max-height: 300px;
    text-align: center;
}

#ip7qjh {
    color: black;
    height: 100%;
    width: 50%;
    max-height: 300px;
    border-radius: 20px;
}

#is6yad {
    min-height: 100px;
    padding: 20px;
}

#iv97pk {
    padding: 10px;
}

#ibytog {
    min-height: 100px;
    background-color: #ffffff;
    margin: 30px 0px 0px 0px;
    text-align: center;
}

#icnddu {
    padding: 10px;
}

#ijjszz {
    padding: 10px;
    display: block;
}

@media (max-width: 480px) {
    #is6yad {
        width: 100%;
    }

    #ip7qjh {
        width: 100%;
    }

    .testocard {
        font-size: 15px;
    }
}