* {
    box-sizing: border-box;
}

body {
    margin: 0;
}




#blocco_form {
    background-attachment: scroll;
    background-image: linear-gradient(#ffffff 0%, #ffffff 100%);
    background-position: left top;
    background-repeat: repeat;
    background-size: auto;
    border: 3px solid #096682;
    display: block;
    margin: 200px auto 20px auto;
    min-height: 100px;
    padding: 20px;
    text-align: center;
    width: 400px;
}

#immagine_login {
    color: black;
    height: 150px;
    margin: auto auto 30px auto;
    
}

#decorazione {
    background-attachment: scroll;
    background-color: #97cac0;
    border-radius: 50px 50px 100px 100px;
    outline: #096682;
    padding: 20px;
}

.divform {
    margin: 10px;
}



#bottone {
    background-color: #096682;
    border: 0px solid;
    border-radius: 10px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px 10px 20px;
    text-align: center;
}



.immagine_SPID_CIE {
    display: block;
    margin: 10px auto 10px auto;
    width: 200px;
}




@media (max-width: 992px) {
    #i7shz {
        margin: 150px auto 20px auto;
    }
}

@media (max-width: 480px) {

    .collegamento {
        margin: 5px -5px 10px -5px;
    }
}