* {
    box-sizing: border-box;
}

body {
    margin: 0;
}



#impianto_card {
    min-height: 100px;
    padding: 50px;
    height: auto;
}





.trittica_carda {
    min-height: 100px;
    text-align: center;
    padding: 20px;
}

#card_news {
    height: auto;
}

#div_impostazioni {
    vertical-align: middle;
    text-align: center;
    height: auto;
}