* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


#iaay92 {
    background-attachment: scroll;
    background-image: linear-gradient(#ffffff 0%, #ffffff 100%);
    background-position: left top;
    background-repeat: repeat;
    background-size: auto;
    border-bottom: 4px solid #00154b;
}

#if81mf {
    padding: 10px;
}


#ir2aqr {
    min-height: 100px;
    border: 1px solid #dd1717;
}


#i4g4af {
    color: black;
    display: inline-block;
    height: 100%;
    width: 200px;
}

#ili70a {
    display: inline-block;
    text-align: center;
}