* {
    box-sizing: border-box;
}

body {
    margin: 0;
}



.container_impianto {
    background-color: var(--bg-card);
    border-bottom: 4px groove #00154b;
    min-height: 100px;
}



#immagine_impianto {
    color: black;
    display: inline-block;
    height: 100%;
    width: 200px;
}

.nome_impianto {
    display: inline-block;
    text-align: center;
}