:root {
    --bg-page: #b8f5e9;
    --bg-card: #ffffff;
    --text-main: #001e6a;
    --text-base-color: #000000;
    --title-color: #000000;

    --card-border: #97cac0;
    --card-border-strong: #096682;

    --accent: #003d52;
    --label-text: #096682;
}

body.dark {
    --bg-page: #0f172a;
    --bg-card: #1e293b;
    --text-main: #e5e7eb;
    --text-base-color: #ffffff;
    --title-color: #f8fafc;

    --card-border: #334155;
    --card-border-strong: #38bdf8;

    --accent: #7dd3fc;
    --label-text: #096682;
}




.testocard {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    color: var(--text-main);
}

.card {
    border: 4px solid var( --card-border);
    border-left: 14px solid var(--card-border-strong);
    border-radius: 33px 100px 33px 100px;
    border-right: 14px solid var(--card-border-strong);
    height: auto;
    margin: 50px auto auto auto;
    display: block;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.sfondo {
    background-color: var(--bg-page);
    padding: 0px;
}

.titolo {
    font-size: 46px;
    height: 100%;
    text-align: center;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.titolo_block {
    background-color: #ffffff;
    border-bottom: 4px solid #00154b;
    padding: 20px;
    font-size: 46px;
    height: 100%;
    text-align: center;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.testo_impostazioni {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin: auto;
    color: var(--text-base-color);
    display: inline-block;
    text-align: center;
}


.impostazioni {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin: 20px;
    color: var(--text-base-color);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}


.etichetta {
    color: var(--label-text);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 10px;
}

.collegamento {
    color: var(--accent);
    font-family: "Montserrat", sans-serif;
    margin: -5px;
    text-align: center;
}


.divform {
    margin: 10px;
}



.box_titolo {
    padding: 20px;
    height: 100px;
    color: var(--text-base-color);
    background-color: var(--bg-card);
}


.cardina {
    border: 4px solid var( --card-border);
    border-left: 14px solid var(--card-border-strong);
    border-radius: 33px 100px 33px 100px;
    border-right: 14px solid var(--card-border-strong);

    margin: 30px;
    text-align: center;
    min-height: 100px;
    display: inline-block;
    width: 20%;
    padding: 20px 10px 20px 10px;
    height: auto ;

    color: var( --text-base-color);
    vertical-align: top;
}

.trittica {
    text-align: center;
}

.torna_indietro {
    margin: 20px;
}