* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.card {
    border: 4px solid #97cac0;
    border-left: 14px solid #096682;
    border-radius: 33px 100px 33px 100px;
    border-right: 14px solid #096682;
    height: auto;
    margin: 50px auto auto auto;
    display: block;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.sfondo {
    background-color: #b8f5e9;
    padding: 0px;
}

.titolo {
    font-size: 46px;
    height: 100%;
    text-align: center;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 20px;
}

#iqcrku {
    min-height: 100px;
    text-decoration: #000000;
    background-color: #ffffff;
}

#ib8uta {
    height: auto;
    padding: 20px;
    display: block;
    width: 50%;
}

#iziycg {
    padding: 10px;
    display: inline-block;
}

#i1uahy {
    width: 30px;
    height: 30px;
    margin: 0px;
}

.testo_impostazioni {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin: auto;
    color: #000000;
    display: inline-block;
    text-align: center;
}

#iziycg-2 {
    padding: 10px;
    display: inline-block;
}

#ib8uta-2 {
    height: auto;
    padding: 20px;
    display: block;
    width: 50%;
}

#ite9f6 {
    height: 40px;
    width: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    padding: 5px 10px 10px 10px;
}

#ipizbp {
    min-height: 100px;
}

#iws1y2-2 {
    text-align: center;
}

#ispink {
    padding: 10px;
    display: inline-block;
}

#ik1xv4 {
    width: 30px;
    height: 30px;
}

#ispink-2 {
    padding: 10px;
    display: inline-block;
}

#ik1xv4-2 {
    width: 30px;
    height: 30px;
}

#i2n2zp {
    height: 30px;
    margin: 0px 0px 0px 30px;
}

#ispink-3 {
    padding: 10px;
    display: inline-block;
}

#ik1xv4-3 {
    width: 30px;
    height: 30px;
}

#iziycg-3 {
    padding: 10px;
    display: inline-block;
}

#ib8uta-3 {
    height: auto;
    padding: 20px;
    display: block;
    width: 50%;
}

#iwvikl {
    color: #780101;
}