* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#ilh6 {
    background-color: #b8f5e9;
}

#iafj {
    background-color: #ffffff;
    border-left: 14px solid #096682;
    margin: 70px;
    min-height: 100px;
    padding: 20px;
    text-align: center;
}

#ialqv {
    padding: 20px;
}



#ialqv-2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 20px;
}

#i28g-2 {
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    text-align: left;
}

#iafj-2 {
    background-color: #ffffff;
    border-left: 14px solid #096682;
    margin: 70px;
    min-height: 100px;
}

#ialqv-2-2 {
    font-family: "Manrope", sans-serif;
    padding: 20px;
}

#i28g-2-2 {
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    text-align: left;
}

#iafj-2-2 {
    background-color: #ffffff;
    border-left: 14px solid #096682;
    margin: 70px;
    min-height: 100px;
}

@media (max-width: 480px) {
    .testocard {
        font-size: 15px;
    }
}