* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.card {
    border: 4px solid #97cac0;
    border-left: 14px solid #096682;
    border-radius: 33px 100px 33px 100px;
    border-right: 14px solid #096682;
    height: auto;
    margin: 50px auto auto auto;
    display: block;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.sfondo {
    background-color: #b8f5e9;
    padding: 0px;
}

.titolo {
    font-size: 46px;
    height: 100%;
    text-align: center;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 20px;
}

.testo_impostazioni {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin: auto;
    color: #000000;
    display: inline-block;
    text-align: center;
}

#i535yb {
    min-height: 100px;
    background-color: #ffffff;
}

#ihijhi {
    padding: 10px;
}

#i00lpd {
    min-height: 100px;
    margin: 0px auto 0px auto;
    padding: 0px;
}

#il4b28 {
    color: black;
    display: inline-block;
    width: 100%;
    border-radius: 33px 100px 0px 0px;
}

#iyy3bl {
    min-height: 100px;
    background-color: #f10909;
    padding: 20px;
    text-align: center;
}

#ipv7oz {
    padding: 10px;
    display: block;
    font-weight: 800;
    font-size: 25px;
}

#ioljd5 {
    min-height: 100px;
    background-color: #10ad0a;
}

#ijed1h {
    padding: 10px;
}

#imgrth {
    height: 30px;
}

#ivr75k {
    padding: 10px;
}

#ij5gpr {
    padding: 10px;
    color: #00125a;
}