* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.card {
    border: 4px solid #97cac0;
    border-left: 14px solid #096682;
    border-radius: 33px 100px 33px 100px;
    border-right: 14px solid #096682;
    display: block;
    padding: 20px;
}

.divform {
    margin: 10px;
}

.etichetta {
    color: #003d52;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 0px;
}

.collegamento {
    color: #003d52;
    font-family: "Montserrat", sans-serif;
    margin: -5px;
    text-align: center;
}

#iqgb8 {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#b8f5e9 0%, #b8f5e9 100%);
}

#ia76a-2 {
    color: black;
    height: 150px;
    margin: auto auto 30px auto;
}

#ift4f-2 {
    margin: 10px;
}

#iba48-2 {
    margin: 10px;
}

#i50n7-2 {
    background-attachment: scroll;
    background-image: linear-gradient(#096682 0%, #096682 100%);
    background-position: left top;
    background-repeat: repeat;
    background-size: auto;
    border: 0px solid;
    border-radius: 10px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

#i0lee-2 {
    background-attachment: scroll;
    background-image: linear-gradient(rgba(9, 102, 130, 0.2) 0%, rgba(9, 102, 130, 0.2) 100%);
    background-position: left top;
    background-repeat: repeat;
    background-size: auto;
    border-radius: 50px 50px 100px 100px;
    outline: #096682;
    padding: 20px;
}

#i7shz-2 {
    background-attachment: scroll;
    background-image: linear-gradient(#ffffff 0%, #ffffff 100%);
    background-position: left top;
    background-repeat: repeat;
    background-size: auto;
    border: 3px solid #096682;
    display: block;
    margin: 200px auto 20px auto;
    min-height: 100px;
    padding: 20px;
    text-align: center;
    width: 50%;
}

#i9r7g-2-3 {
    padding: 10px;
    width: auto;
}

#i2l31-2 {
    color: black;
    display: block;
    margin: 20px auto 0px auto;
    width: 200px;
}

#i6zd8-2 {
    color: black;
    display: block;
    margin: 10px auto auto auto;
    width: 200px;
}

#i05l6-2 {
    color: #a86464;
    min-height: 100px;
}

#ic8om-2 {
    margin: auto;
    min-height: 100px;
}

#iba48-2-2 {
    margin: 10px;
}

#iba48-2-3 {
    margin: 10px;
}

#iba48-2-3-2 {
    margin: 10px;
}

#iba48-2-3-2-2 {
    margin: 10px;
}

.inputregistration {
    margin: 0px 10px 0px 0px;
}

@media (max-width: 992px) {
    #i7shz-2 {
        margin: 150px auto 20px auto;
    }
}

@media (max-width: 768px) {
    #i7shz-2 {
        border-radius: 0px 0px 0px 0px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .collegamento {
        margin: 5px -5px 10px -5px;
    }

    #ia76a-2 {
        display: block;
    }

    #i7shz-2 {
        border-radius: 0px;
        margin: 0px auto 20px auto;
        width: 100%;
    }

    #iqgb8 {
        margin: 0px;
    }
}